body {
	background-color: #FFFFFF;
}

header {
	font-family: 'Bungee Shade', cursive;
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 20px;
	border: 0px;
}

img {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	width: 50%;
	height: auto;
}

p {
	font-family: 'Josefin Slab', serif;
	text-align: center;
	font-size: 1.2em;
	padding-left: 20%;
	padding-right: 20%;
	margin-top: 15%;
	line-height: 1.6
}

footer {
	font-size: 10px;
	text-align: center;
}
